@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  color: #2c3e50;
  background-color: #DFDBE5;
  background-image: url(pexels-steve-johnson-1843717.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.box{
  margin: 2em 0 0 50vh;
}
.answer{
  position: absolute;
  top: 28vh;
  left: 93vh;
  width: 60%;
}
h1{
  width: 50%;
}
hr{
  color: green;
  width: 80%;
  margin-bottom: 50px;
}
#kg, #m{
  color: rgb(118, 122, 118);
}
#result{
  text-shadow: 1px 1px 1px black;
  color: brown;
}
input{
  background-color: azure;
  border: 1px 0.5px solid black;
  border-radius: 15px;
  padding: 0 0 0 40px;
  text-align: center;
  font-size: 15px;
}

#calc{
  margin: 2em 0 0 23.5em;
  padding: 10px;
  border-radius: 1em;
  background-color: rgb(152, 177, 152);
  border: none;
}
#calc:active{
  transform: scale(1.05);
}
#message{
  background-color: #2c3e5069;
  width: 50%;
}
img{
  position: absolute;
  top: 50vh;
  right: 70vh;
  width: 40%
}
footer{
  display: block;
  position: fixed;
  width: 100%;
  background-color: rgb(152, 177, 152);
  padding: 5px;
  bottom: 0vh;
  text-align: center;
}